body{
    font-family: 'Times New Roman', Times, serif;
}

h2 + p{
    font-family: monospace;
    color: grey;
}

.chapter::before{
    content: '"';
    font-size: 5em;
}
.chapter p::first-letter{
    float: left;
    font-size: 3em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.chapter p::first-line{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}a{
    text-decoration: None;
}
a:link{
    color: rgb(131, 223, 88);
}

a:visited{
    color: rgb(227, 15, 15);
}

a:active{
    color: royalblue;
}

a:hover, a:focus{
    color: goldenrod;
}

ul li{
    list-style-type: none;    
}